body{
  margin:0;
  padding:0;
  display:inline-block;
  background-image: url('https://www.girlcharlee.com/images/knit/CL-2682-main.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

canvas{
  position:absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
}

#score{
  margin:0;
  padding:0;
  display:inline;
  color: white;
  text-align:center;
}

#usernameLabel{
  margin:0;
  padding:0;
  display:inline;
  color: white;
  font-size: 25px;
  align-content: center;

}
.button {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 15px;
  margin: 4px 4px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}
